
.black {
    background-color: black;
}

.brown {
    background-color: brown;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.violet {
    background-color: violet;
}

.gray {
    background-color: gray;
}

.white {
    background-color: white;
}

a {
    color: white;
} 

li:nth-child(11) a {
    color: black;
}	

a:hover {
    color: white;
    font-size: larger;
    font-weight: 700;
    text-decoration: none;
}

.select-row {
    min-height: 350px;
}

.result {
    font-size: 28px;
    font-weight: bold;
}

.result span {
    color: crimson;
}


